Repository luiscamaral/home-lab-inventory: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-check, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration for home-lab-inventory repository
# Run 'pre-commit install' to set up the hooks

repos:
  # Built-in pre-commit hooks for general file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # File formatting and cleanup
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-byte-order-marker
      
      # File size and merge conflicts
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      
      # JSON/YAML syntax checking
      - id: check-json
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: ^(.vscode/|.claude/|.devcontainer/)
      
      # Shell script checking
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # YAML linting with yamllint
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]
        types: [yaml]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.json]
        types: [markdown]
        exclude: ^(.history/|CHANGELOG\.md|\.github/ISSUE_TEMPLATE/|\.github/PULL_REQUEST_TEMPLATE\.md)

  # Dockerfile linting with hadolint
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore=DL3008,--ignore=DL3009,--ignore=DL3015]

  # Shell script linting with shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-e, SC1091, -e, SC2034, -e, SC2154]
        types: [shell]

  # Git security: check for secrets
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # Docker Compose validation
  - repo: local
    hooks:
      - id: docker-compose-check
        name: Docker Compose Check
        entry: bash -c 'for file in "$@"; do docker compose -f "$file" config --quiet || exit 1; done'
        language: system
        files: docker-compose\.ya?ml$
        require_serial: false

  # Validate GitHub Actions workflows
  - repo: local
    hooks:
      - id: actionlint
        name: GitHub Actions Lint
        entry: bash -c 'command -v actionlint >/dev/null 2>&1 && actionlint "$@" || echo "actionlint not installed, skipping GitHub Actions validation"'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        require_serial: false

# Global configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: 3.0.0

# Files to exclude from all hooks
exclude: |
  (?x)^(
    \.git/.*|
    \.history/.*|
    \.claude/.*|
    \.vscode/.*|
    \.devcontainer/.*|
    node_modules/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    .*\.log|
    .*\.tmp|
    .*\.bak
  )$

Add deployment validation workflow and scripts
  .github/workflows/deployment-validation.yml
  scripts/setup-dev-environment.sh
Due: actionlint

feat(docker): migrate Rundeck to registry-based deployment
  dockermaster/docker/compose/rundeck/.env.example
  dockermaster/docker/compose/rundeck/PORTAINER_MIGRATION.md
  dockermaster/docker/compose/rundeck/docker-compose.cicd.yml
Due: none

feat(calibre): add Portainer-ready configuration for GitOps deployment
  dockermaster/docker/compose/calibre-server/.env.example
  dockermaster/docker/compose/calibre-server/CALIBRE_PORTAINER_MIGRATION.md
  dockermaster/docker/compose/calibre-server/deploy-to-portainer.sh
  dockermaster/docker/compose/calibre-server/docker-compose.portainer.yml
  dockermaster/docker/compose/calibre-server/portainer-stack-config.json
  dockermaster/docker/compose/calibre-server/validation-checklist.md
Due: none

feat(dockermaster): add Calibre server monitoring and validation configurations
  CLAUDE.md
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/Dockerfile-20250821_133300
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/backup_manifest.json
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/calibre-cicd-compose-20250821_133300.yaml
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/calibre-compose-20250821_133300.yaml
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/calibre-portainer-compose-20250821_133300.yaml
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/container_state.json
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/environment_config.txt
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/volumes_info.txt
  dockermaster/docker/compose/calibre-server/monitoring-config.yml
  dockermaster/docker/compose/calibre-server/monitoring-setup.md
  dockermaster/docker/compose/calibre-server/test-results.json
  dockermaster/docker/compose/calibre-server/validate-deployment.sh
  dockermaster/docker/compose/calibre-server/validation-issues.md
  dockermaster/docker/compose/calibre-server/validation-report.md
  dockermaster/docker/compose/calibre-server/watchtower-config.yml
Due: none

feat(ci): add GitHub runner directory structure and Docker configuration
  dockermaster/github-runner/.env.example
  dockermaster/github-runner/README.md
  dockermaster/github-runner/docker-compose.yml
Due: docker-compose-check

feat(ci): add runner registration setup script
  dockermaster/github-runner/setup-runner.sh
Due: none

feat(ci): update deploy workflow for self-hosted runner support
  .github/workflows/deploy.yml
  .github/workflows/runner-strategy.yml
Due: actionlint

docs: add CI/CD architecture and GitHub runner setup documentation
  docs/ci-cd-architecture.md
  docs/github-runner-setup.md
Due: none

docs: update inventory with GitHub runner container
  inventory/docker-containers.md
Due: none

feat(ci): add runner health monitoring workflow
  .github/workflows/runner-health-check.yml
Due: actionlint

test: add self-hosted runner test workflow
  .github/workflows/test-self-hosted-runner.yml
Due: actionlint

test: add comprehensive self-hosted runner verification workflow
  .github/workflows/test-self-hosted-runner.yml
Due: actionlint

fix: correct cleanup job indentation in security workflow
  .github/workflows/security.yml
Due: actionlint

fix: remove invalid secrets check in build workflow conditional
  .github/workflows/build-multi-type-images.yml
Due: actionlint

test: add simple runner test workflow with push trigger
  .github/workflows/runner-test-simple.yml
Due: actionlint

fix(docker): replace REDACTED placeholders with environment variables
  CLAUDE.md
  dockermaster/docker/compose/ansible-observability/.env.example
  dockermaster/docker/compose/ansible-observability/docker-compose.yml
  dockermaster/docker/compose/docker-vault/.env.example
  dockermaster/docker/compose/docker-vault/docker-compose.yml
  dockermaster/docker/compose/litellm/.env.example
  dockermaster/docker/compose/litellm/docker-compose.yml
  dockermaster/docker/compose/rundeck/.env.example
  dockermaster/docker/compose/rundeck/docker-compose.yml
Due: docker-compose-check

fix(docker): replace REDACTED placeholders with environment variables
  .github/workflows/runner-verification.yml
  CLAUDE.md
  deployment/scripts/github-sync.sh
  deployment/scripts/install-sync-cron.sh
  deployment/scripts/webhook-receiver.sh
  dockermaster/docker/compose/ansible-observability/.env.example
  dockermaster/docker/compose/docker-vault/.env.example
  dockermaster/docker/compose/litellm/.env.example
Due: actionlint

fix(makefile): replace echo with printf for better shell compatibility
  Makefile
Due: none

fix: resolve critical validation errors for push
  .pre-commit-config.yaml
  .yamllint.yml
  CLAUDE.md
  Makefile
Due: none

refactor: simplify CI structure and remove redundant validation scripts
  .editorconfig
  .githooks/setup.sh
  .githooks/utils/conventional-commits.sh
  .githooks/utils/file-checks.sh
  .githooks/utils/secret-detector.sh
  .githooks/utils/yaml-validator.py
  .github/workflows/pr-validation.yml
  .mise.toml
  .pre-commit-config.yaml
  .shellcheckrc
  CLAUDE.md
  CLAUDE_proposed.md
  COMMIT_CONVENTIONS.md
  CONTRIBUTING.md
  deployment/scripts/github-sync.sh
  deployment/scripts/install-sync-cron.sh
  deployment/scripts/webhook-receiver.sh
  dockermaster/docker/compose/ansible-observability/docker-compose.yml
  dockermaster/docker/compose/calibre-server/deploy-to-portainer.sh
  dockermaster/docker/compose/calibre-server/validate-deployment.sh
  dockermaster/docker/compose/docker-dns/docker-compose.yml
  dockermaster/docker/compose/n8n-stack/docker-compose.yml
  dockermaster/docker/compose/nginx-rproxy/docker-compose.yml
  dockermaster/github-runner/setup-runner.sh
  setup-commitlint.sh
  setup-pre-commit.sh
  validation-issues-summary.md
Due: docker-compose-check, actionlint

docs: add dockermaster sync report and update project structure
  .gitignore
  CLAUDE.md
  docs/dockermaster-sync-report.md
Due: none

feat: create comprehensive tactical execution plan for dockermaster recovery
  docs/dockermaster-tactical-plan.md
Due: none

feat: add tactical plan and MCP work for dockermaster recovery project
  docs/dockermaster-tactical-plan.md
  mcp/instructions/generate-tasks.mdc.md
  mcp/instructions/process-task-list.mdc.md
  mcp/work/dockermaster-recovery/prd.md
  mcp/work/dockermaster-recovery/tasks.md
Due: none

feat: add tactical plan and MCP work for dockermaster recovery project
  .claude/agents/prd-specialist.md
  .claude/agents/tactical-planner.md
  .claude/agents/technical-manager-task-executor.md
  mcp/instructions/generate-tasks.mdc.md
  mcp/instructions/process-task-list.mdc.md
  mcp/work/dockermaster-recovery/prd.md
  mcp/work/dockermaster-recovery/tasks.md
Due: none

chore: fix file permissions on dockermaster-sync-report.md
  docs/dockermaster-sync-report.md
Due: none

feat: complete Phase 2 repository structure optimization
  .gitignore
  dockermaster/configs/README.md
  dockermaster/monitoring/README.md
  dockermaster/scripts/README.md
  dockermaster/templates/README.md
  dockermaster/templates/docker-compose.yml
  dockermaster/templates/env-template
  dockermaster/templates/service-documentation.md
  docs/dockermaster-sync-report.md
  mcp/work/dockermaster-recovery/tasks.md
Due: docker-compose-check

fix: correct YAML syntax in docker-compose template
  dockermaster/configs/README.md
  dockermaster/monitoring/README.md
  dockermaster/scripts/README.md
  dockermaster/templates/README.md
  dockermaster/templates/docker-compose.yml
  dockermaster/templates/env-template
  dockermaster/templates/service-documentation.md
Due: docker-compose-check

fix: correct YAML template formatting and syntax
  dockermaster/templates/docker-compose.yml
Due: docker-compose-check

feat(dockermaster): complete Phase 1-3 of infrastructure recovery
  dockermaster/services/high-priority/github-runner/README.md
  dockermaster/services/high-priority/keycloak/README.md
  dockermaster/services/high-priority/prometheus/README.md
  dockermaster/services/high-priority/vault/README.md
  dockermaster/services/low-priority/ansible-stack/README.md
  dockermaster/services/low-priority/bitwarden/README.md
  dockermaster/services/low-priority/docspell/README.md
  dockermaster/services/low-priority/fluentd/README.md
  dockermaster/services/low-priority/ghost.io/README.md
  dockermaster/services/low-priority/kafka/README.md
  dockermaster/services/low-priority/mongodb/README.md
  dockermaster/services/low-priority/opentelemetry-home/README.md
  dockermaster/services/low-priority/otel/README.md
  dockermaster/services/low-priority/solr/README.md
  dockermaster/services/medium-priority/rabbitmq/README.md
  docs/service-matrix.md
  docs/ssh-setup-instructions.md
  mcp/work/dockermaster-recovery/tasks.md
  output/automation-test-report.txt
  scripts/extract-compose.sh
  scripts/find-deps.sh
  scripts/parse-env.sh
  scripts/ssh-dockermaster.sh
  scripts/test-automation.sh
Due: none

chore: apply pre-commit hook formatting fixes
  dockermaster/services/high-priority/github-runner/README.md
  dockermaster/services/high-priority/keycloak/README.md
  dockermaster/services/high-priority/prometheus/README.md
  dockermaster/services/high-priority/vault/README.md
  dockermaster/services/low-priority/ansible-stack/README.md
  dockermaster/services/low-priority/bitwarden/README.md
  dockermaster/services/low-priority/docspell/README.md
  dockermaster/services/low-priority/fluentd/README.md
  dockermaster/services/low-priority/ghost.io/README.md
  dockermaster/services/low-priority/kafka/README.md
  dockermaster/services/low-priority/mongodb/README.md
  dockermaster/services/low-priority/opentelemetry-home/README.md
  dockermaster/services/low-priority/otel/README.md
  dockermaster/services/low-priority/solr/README.md
  dockermaster/services/medium-priority/rabbitmq/README.md
  docs/service-matrix.md
  docs/ssh-setup-instructions.md
  output/automation-test-report.txt
  scripts/extract-compose.sh
  scripts/find-deps.sh
  scripts/parse-env.sh
  scripts/ssh-dockermaster.sh
  scripts/test-automation.sh
Due: none

fix: convert [REDACTED] placeholders to environment variables
  dockermaster/docker/compose/docker-vault/docker-compose.yml
  dockermaster/docker/compose/litellm/docker-compose.yml
  dockermaster/docker/compose/rundeck/docker-compose.yml
Due: docker-compose-check

fix: comment out missing .env file reference in litellm
  dockermaster/docker/compose/litellm/docker-compose.yml
Due: docker-compose-check

feat(portainer): complete Phase 5 GitOps configuration
  dockermaster/stacks/templates/portainer-stack-template.yml
  dockermaster/stacks/templates/stack-config-template.json
  docs/portainer-gitops.md
  docs/vault-diagnosis.md
  docs/vault-integration-plan.md
  scripts/portainer/README.md
  scripts/portainer/backup-stacks.sh
  scripts/portainer/convert-to-stack.sh
  scripts/portainer/deploy-stack.sh
  scripts/portainer/rollback-stack.sh
Due: none

feat(cicd): implement Phase 6 CI/CD Pipeline Enhancement for dockermaster recovery
  .github/workflows/dockermaster-deployment.yml
  .github/workflows/emergency-rollback.yml
  .github/workflows/service-health-monitor.yml
  docs/cicd-pipeline.md
  scripts/cicd/README.md
  scripts/cicd/deploy-service.sh
  scripts/cicd/health-check.sh
  scripts/cicd/vault-integration.sh
Due: actionlint

docs: mark Phase 6 CI/CD Pipeline Enhancement as completed
  docs/dockermaster-tactical-plan.md
Due: none

feat: complete dockermaster recovery project - all phases delivered
  docs/dockermaster-recovery-report.md
  docs/validation/health-status-matrix-20250829-120445.md
  mcp/work/dockermaster-recovery/tasks.md
  scripts/testing/disaster-recovery-test.sh
  scripts/testing/documentation-validation.sh
  scripts/testing/health-matrix.sh
  scripts/testing/integration-tests.sh
  scripts/testing/performance-benchmark.sh
Due: none
