Repository luiscamaral/home-lab-inventory: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-check, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration for home-lab-inventory repository
# Run 'pre-commit install' to set up the hooks

repos:
  # Built-in pre-commit hooks for general file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # File formatting and cleanup
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-byte-order-marker
      
      # File size and merge conflicts
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-merge-conflict
      
      # JSON/YAML syntax checking
      - id: check-json
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        exclude: ^(.vscode/|.claude/|.devcontainer/)
      
      # Shell script checking
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # YAML linting with yamllint
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]
        types: [yaml]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.json]
        types: [markdown]
        exclude: ^(.history/|CHANGELOG\.md|\.github/ISSUE_TEMPLATE/|\.github/PULL_REQUEST_TEMPLATE\.md)

  # Dockerfile linting with hadolint
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore=DL3008,--ignore=DL3009,--ignore=DL3015]

  # Shell script linting with shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-e, SC1091, -e, SC2034, -e, SC2154]
        types: [shell]

  # Git security: check for secrets
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # Docker Compose validation
  - repo: local
    hooks:
      - id: docker-compose-check
        name: Docker Compose Check
        entry: bash -c 'for file in "$@"; do docker compose -f "$file" config --quiet || exit 1; done'
        language: system
        files: docker-compose\.ya?ml$
        require_serial: false

  # Validate GitHub Actions workflows
  - repo: local
    hooks:
      - id: actionlint
        name: GitHub Actions Lint
        entry: bash -c 'command -v actionlint >/dev/null 2>&1 && actionlint "$@" || echo "actionlint not installed, skipping GitHub Actions validation"'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        require_serial: false

# Global configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: 3.0.0

# Files to exclude from all hooks
exclude: |
  (?x)^(
    \.git/.*|
    \.history/.*|
    \.claude/.*|
    \.vscode/.*|
    \.devcontainer/.*|
    node_modules/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    .*\.log|
    .*\.tmp|
    .*\.bak
  )$

fix: apply pre-commit fixes for testing scripts
  docs/dockermaster-recovery-report.md
  scripts/testing/disaster-recovery-test.sh
  scripts/testing/documentation-validation.sh
  scripts/testing/health-matrix.sh
  scripts/testing/integration-tests.sh
  scripts/testing/performance-benchmark.sh
Due: none

feat: add synology-search as private submodule
  .gitmodules
Due: none

feat: add Claude command templates and fix validation issues
  .claude/commands/commit.md
  .claude/commands/create-pr.md
  .claude/commands/resolve-validation.md
  .claude/new-command
  .github/workflows/deploy.yml
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  .yamllint.yml
  dockermaster/docker/compose/calibre-server/validation-checklist.md
  dockermaster/docker/compose/calibre-server/validation-report.md
  dockermaster/docker/compose/docker-dns/docker-compose.yml
  dockermaster/docker/compose/rundeck/PORTAINER_MIGRATION.md
  scripts/portainer/README.md
Due: docker-compose-check, actionlint

fix(rundeck): enable HTTPS on reverse proxy and update public URL
  dockermaster/docker/compose/nginx-rproxy/vhost.d/rundeck.d.lcamaral.com.conf
  dockermaster/docker/compose/rundeck/PORTAINER_MIGRATION.md
  dockermaster/docker/compose/rundeck/docker-compose.cicd.yml
  dockermaster/docker/compose/rundeck/docker-compose.yml
Due: docker-compose-check

fix(security): redact secrets, extend gitignore, harden gitleaks config
  .gitignore
  .gitleaks.toml
  deployment/watchtower/docker-compose.yml
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/Dockerfile-20250821_133300
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/backup_manifest.json
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/calibre-cicd-compose-20250821_133300.yaml
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/calibre-compose-20250821_133300.yaml
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/calibre-portainer-compose-20250821_133300.yaml
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/container_state.json
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/environment_config.txt
  dockermaster/docker/compose/calibre-server/backup_20250821_133300/volumes_info.txt
  dockermaster/docker/compose/litellm/docker-compose.local.yml
  dockermaster/docker/compose/litellm/docker-compose.standalone.yml
  dockermaster/docker/compose/litellm/docker-compose.yml
  dockermaster/services/high-priority/vault/README.md
  dockermaster/services/low-priority/mongodb/README.md
  dockermaster/services/medium-priority/rabbitmq/README.md
  output/automation-test-report.txt
Due: docker-compose-check

feat(skill): add cloudflare-api skill and track .devin/skills in git
  .devin/skills/cloudflare-api/SKILL.md
  .devin/skills/compose-service-check/SKILL.md
  .devin/skills/compose-service-fix/SKILL.md
  .devin/skills/dockermaster-status/SKILL.md
  .devin/skills/dockermaster-war-room/SKILL.md
  .devin/skills/inventory-research/SKILL.md
  .gitignore
Due: none

feat(cloudflare): add Terraform config and import tunnel resources
  cloudflare/.gitignore
  cloudflare/README.md
  cloudflare/imports.tf
  cloudflare/main.tf
  cloudflare/outputs.tf
  cloudflare/provider.tf
  cloudflare/variables.tf
Due: none

feat(cloudflare): import zone, DNS records, and DNSSEC into Terraform
  .devin/skills/cloudflare-api/SKILL.md
  cloudflare/README.md
  cloudflare/imports.tf
  cloudflare/main.tf
  cloudflare/outputs.tf
  cloudflare/variables.tf
Due: none

feat(cloudflare): add DreamHost provider and *.cf subdomain delegation
  cloudflare/README.md
  cloudflare/dreamhost.tf
  cloudflare/imports.tf
  cloudflare/main.tf
  cloudflare/provider.tf
  cloudflare/variables.tf
Due: none

feat(registry): add Docker container registry exposed via Cloudflare tunnel
  cloudflare/main.tf
  dockermaster/docker/compose/registry/docker-compose.yml
Due: docker-compose-check

fix(registry): use bind mount instead of named volume for registry data
  dockermaster/docker/compose/registry/docker-compose.yml
Due: docker-compose-check

feat(terraform): restructure IaC into terraform/ with portainer and vault
  terraform/README.md
  terraform/cloudflare/.gitignore
  terraform/cloudflare/README.md
  terraform/cloudflare/dreamhost.tf
  terraform/cloudflare/imports.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/outputs.tf
  terraform/cloudflare/provider.tf
  terraform/cloudflare/variables.tf
  terraform/modules/cf-service/README.md
  terraform/modules/cf-service/main.tf
  terraform/modules/cf-service/outputs.tf
  terraform/modules/cf-service/variables.tf
  terraform/portainer/.gitignore
  terraform/portainer/README.md
  terraform/portainer/outputs.tf
  terraform/portainer/provider.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/docker-registry.yml
  terraform/portainer/variables.tf
  terraform/vault/.gitignore
  terraform/vault/README.md
  terraform/vault/imports.tf
  terraform/vault/main.tf
  terraform/vault/outputs.tf
  terraform/vault/provider.tf
  terraform/vault/variables.tf
Due: none

fix(portainer): store admin password in Vault and update docs
  terraform/README.md
  terraform/portainer/README.md
Due: none

feat(vault): centralize all secrets in Vault
  .devin/skills/cloudflare-api/SKILL.md
  terraform/README.md
  terraform/cloudflare/README.md
Due: none

fix: address audit gaps across terraform, CLAUDE.md, and skills
  .devin/skills/cloudflare-api/SKILL.md
  CLAUDE.md
  terraform/README.md
  terraform/cloudflare/imports.tf
  terraform/cloudflare/outputs.tf
  terraform/vault/README.md
  terraform/vault/outputs.tf
Due: none

fix(inventory): sync bind9 and cloudflare-tunnel with live state
  dockermaster/docker/compose/bind9/docker-compose.yml
  dockermaster/docker/compose/bind9/named.conf
  dockermaster/docker/compose/cloudflare-tunnel/.env.example
  dockermaster/docker/compose/cloudflare-tunnel/docker-compose.yml
Due: docker-compose-check

feat(portainer): manage cloudflare-tunnel and bind-dns as IaC stacks
  terraform/portainer/outputs.tf
  terraform/portainer/provider.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/bind-dns.yml
  terraform/portainer/stacks/cloudflare-tunnel.yml
  terraform/portainer/variables.tf
  terraform/portainer/vault.tf
Due: none

feat(portainer): migrate nginx-rproxy, vault, and twingate to IaC stacks
  dockermaster/docker/compose/twingate-A/.env.example
  dockermaster/docker/compose/twingate-A/docker-compose.yml
  dockermaster/docker/compose/twingate-B/.env.example
  dockermaster/docker/compose/twingate-B/docker-compose.yml
  dockermaster/docker/compose/vault/.env.example
  dockermaster/docker/compose/vault/docker-compose.yml
  terraform/portainer/outputs.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/reverse-proxy.yml
  terraform/portainer/stacks/twingate-a.yml
  terraform/portainer/stacks/twingate-b.yml
  terraform/portainer/stacks/vault.yml
  terraform/portainer/vault.tf
Due: docker-compose-check

feat(portainer): migrate calibre and github-runner, fix healthchecks
  dockermaster/docker/compose/calibre-server/.env.example
  dockermaster/docker/compose/cloudflare-tunnel/docker-compose.yml
  dockermaster/docker/compose/github-runner/.env.example
  dockermaster/docker/compose/github-runner/docker-compose.yml
  dockermaster/docker/compose/vault/docker-compose.yml
  terraform/portainer/outputs.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/calibre.yml
  terraform/portainer/stacks/cloudflare-tunnel.yml
  terraform/portainer/stacks/github-runner.yml
  terraform/portainer/stacks/vault.yml
  terraform/portainer/vault.tf
Due: docker-compose-check

docs: update all documentation to reflect 9 Terraform-managed Portainer stacks
  CLAUDE.md
  dockermaster/docker/compose/STATUS.md
  docs/portainer-gitops.md
  docs/service-matrix.md
  inventory/docker-containers.md
  package.json
  terraform/README.md
  terraform/portainer/README.md
Due: none

feat(portainer): migrate rustdesk, rundeck, and prometheus to IaC stacks
  dockermaster/docker/compose/STATUS.md
  dockermaster/docker/compose/prometheus/docker-compose.yaml
  dockermaster/docker/compose/rundeck/.env.example
  dockermaster/docker/compose/rustdesk/docker-compose.yml
  terraform/portainer/outputs.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/prometheus.yml
  terraform/portainer/stacks/rundeck.yml
  terraform/portainer/stacks/rustdesk.yml
  terraform/portainer/vault.tf
Due: docker-compose-check

feat(portainer): add watchtower auto-updater and migrate to standard labels
  CLAUDE.md
  dockermaster/docker/compose/STATUS.md
  dockermaster/docker/compose/bind9/docker-compose.yml
  dockermaster/docker/compose/calibre-server/docker-compose.yaml
  dockermaster/docker/compose/cloudflare-tunnel/docker-compose.yml
  dockermaster/docker/compose/github-runner/docker-compose.yml
  dockermaster/docker/compose/nginx-rproxy/docker-compose.yml
  dockermaster/docker/compose/prometheus/docker-compose.yaml
  dockermaster/docker/compose/registry/docker-compose.yml
  dockermaster/docker/compose/rundeck/docker-compose.yml
  dockermaster/docker/compose/rustdesk/docker-compose.yml
  dockermaster/docker/compose/twingate-A/docker-compose.yml
  dockermaster/docker/compose/twingate-B/docker-compose.yml
  dockermaster/docker/compose/vault/docker-compose.yml
  dockermaster/docker/compose/watchtower/.env.example
  dockermaster/docker/compose/watchtower/docker-compose.yml
  docs/superpowers/plans/2026-04-09-watchtower.md
  docs/superpowers/specs/2026-04-09-watchtower-design.md
  terraform/portainer/outputs.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/bind-dns.yml
  terraform/portainer/stacks/calibre.yml
  terraform/portainer/stacks/cloudflare-tunnel.yml
  terraform/portainer/stacks/docker-registry.yml
  terraform/portainer/stacks/github-runner.yml
  terraform/portainer/stacks/prometheus.yml
  terraform/portainer/stacks/reverse-proxy.yml
  terraform/portainer/stacks/rundeck.yml
  terraform/portainer/stacks/rustdesk.yml
  terraform/portainer/stacks/twingate-a.yml
  terraform/portainer/stacks/twingate-b.yml
  terraform/portainer/stacks/vault.yml
  terraform/portainer/stacks/watchtower.yml
  terraform/portainer/vault.tf
Due: docker-compose-check

feat(portainer): migrate minio, ollama, chisel, and freeswitch to IaC stacks
  CLAUDE.md
  dockermaster/docker/compose/STATUS.md
  dockermaster/docker/compose/chisel/docker-compose.yml
  dockermaster/docker/compose/freeswitch/.env.example
  dockermaster/docker/compose/freeswitch/docker-compose.yml
  dockermaster/docker/compose/minio/.env.example
  dockermaster/docker/compose/minio/docker-compose.yml
  terraform/portainer/outputs.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/chisel.yml
  terraform/portainer/stacks/freeswitch.yml
  terraform/portainer/stacks/minio.yml
  terraform/portainer/stacks/ollama.yml
  terraform/portainer/vault.tf
Due: docker-compose-check

feat(cloudflare): expose portainer via Cloudflare tunnel
  terraform/cloudflare/main.tf
Due: none

feat(cloudflare): expose MinIO S3 API and console via Cloudflare tunnel
  terraform/cloudflare/main.tf
Due: none

feat: deploy Keycloak IdP and secure Docker registry
  dockermaster/docker/compose/keycloak/docker-compose.yml
  terraform/cloudflare/main.tf
  terraform/portainer/outputs.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/docker-registry.yml
  terraform/portainer/stacks/keycloak.yml
  terraform/portainer/vault.tf
Due: docker-compose-check

feat(security): configure Cloudflare Access + MinIO OIDC via Keycloak
  dockermaster/docker/compose/minio/docker-compose.yml
  terraform/cloudflare/access.tf
  terraform/cloudflare/variables.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/minio.yml
  terraform/portainer/vault.tf
Due: docker-compose-check

refactor(cloudflare): remove Access policies, keep tunnel as transport only
  terraform/cloudflare/access.tf
  terraform/cloudflare/variables.tf
Due: none

fix: clean up Cloudflare Access leftovers and sync registry auth
  dockermaster/docker/compose/registry/docker-compose.yml
  dockermaster/docker/compose/watchtower/docker-compose.yml
  terraform/cloudflare/variables.tf
Due: docker-compose-check

fix(minio): update OIDC env vars to named provider format
  dockermaster/docker/compose/minio/docker-compose.yml
  terraform/portainer/stacks/minio.yml
Due: docker-compose-check

fix(minio): use mc idp config for OIDC instead of env vars
  dockermaster/docker/compose/minio/docker-compose.yml
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/minio.yml
Due: docker-compose-check

fix(minio): restore OIDC env vars as sole config source (IaC)
  dockermaster/docker/compose/minio/docker-compose.yml
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/minio.yml
Due: docker-compose-check

feat(minio): add MinIO Terraform provider for OIDC and IAM policies
  dockermaster/docker/compose/keycloak/docker-compose.yml
  dockermaster/docker/compose/minio/docker-compose.yml
  terraform/minio/.gitignore
  terraform/minio/oidc.tf
  terraform/minio/outputs.tf
  terraform/minio/policies.tf
  terraform/minio/provider.tf
  terraform/minio/variables.tf
  terraform/minio/vault.tf
  terraform/portainer/stacks/keycloak.yml
  terraform/portainer/stacks/minio.yml
Due: docker-compose-check

feat(postfix): add Postfix SMTP relay for Keycloak email
  dockermaster/docker/compose/postfix-relay/.env.example
  dockermaster/docker/compose/postfix-relay/docker-compose.yml
  terraform/portainer/outputs.tf
  terraform/portainer/stacks.tf
  terraform/portainer/stacks/postfix-relay.yml
  terraform/portainer/vault.tf
Due: docker-compose-check

docs: add homelab portal design spec
  docs/superpowers/specs/2026-04-10-homelab-portal-design.md
Due: none

docs: add homelab portal implementation plan
  docs/superpowers/plans/2026-04-10-homelab-portal.md
Due: none

feat(portal): scaffold SvelteKit + Tailwind + Flowbite project
  apps/homelab-portal/.gitignore
  apps/homelab-portal/.npmrc
  apps/homelab-portal/README.md
  apps/homelab-portal/package.json
  apps/homelab-portal/pnpm-lock.yaml
  apps/homelab-portal/pnpm-workspace.yaml
  apps/homelab-portal/src/app.css
  apps/homelab-portal/src/app.d.ts
  apps/homelab-portal/src/app.html
  apps/homelab-portal/src/lib/assets/favicon.svg
  apps/homelab-portal/src/lib/index.ts
  apps/homelab-portal/src/routes/+layout.svelte
  apps/homelab-portal/src/routes/+page.svelte
  apps/homelab-portal/static/robots.txt
  apps/homelab-portal/svelte.config.js
  apps/homelab-portal/tsconfig.json
  apps/homelab-portal/vite.config.ts
Due: none

chore(portal): pin node 24 via mise for local dev compat
  apps/homelab-portal/.mise.toml
Due: none

feat(portal): session encode/decode with encrypted JWT cookies
  apps/homelab-portal/src/lib/server/session.test.ts
  apps/homelab-portal/src/lib/server/session.ts
Due: none
